.pageWrapper {
  max-width: 1440px;
}

.imageContainer img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow-2);
}

.pageWrapper .detailsContainer {
  max-width: 800px;
  margin-left: 1rem;
}

.eventDateTime {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  /* background-color: lightblue; */
  box-shadow: var(--box-shadow-2);
}

.formContainer {
  width: 100%;
}

.formContainer .formInput {
  margin-bottom: 1rem;
}
