.pageWrapper {
  max-width: 1200px;
}
.pageHeading {
  margin-bottom: 1rem;
}

.pageWrapper .imageContainer {
  max-width: 400px;
}
.imageContainer img {
  max-width: 100%;
}

.pageWrapper .detailsContainer {
  max-width: 600px;
  margin-left: 1rem;
}

.eventDateTime {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: lightblue;
}

.formContainer {
  width: 100%;
}

.formContainer .formInput {
  margin-bottom: 1rem;
}
